<div ng-init="set_page_title('Dashboard');profile_checker(user,$event);" ng-controller="applicant_dashboard_controller">
    <div layout-gt-xs="row">
        <md-card flex-gt-xs="50">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline col-teal">Applications - <strong>{{$localStorage.my_applications.length}}</strong> </span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content style="max-height: 300px">
                <md-list>
                    <md-list-item ng-repeat="x in $localStorage.my_applications | limitTo : 10" ng-click="open_application_status(x, $event)" >
                        {{x.name}} - {{x.date.split(' ')[0] | date}}
                    </md-list-item>
                </md-list>
            </md-card-content>

            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <div ng-hide="true" ng-repeat="x in notifs | filter : { 'status' : 0 } as newNotifs"></div>
                <md-button ng-disabled="newNotifs.length == 0" ng-click="toggleRight()" > <i class="fa fa-envelope" ng-class="{'col-green': (newNotifs.length > 0) }"> {{newNotifs.length}}</i> </md-button>
                <a href="#!/pages/tables/application" ng-hide="$localStorage.my_applications.length == 0">
                    <md-button>View All</md-button>
                </a>
                <md-menu>
                    <md-button aria-label="Application Menus" class="" ng-mouseenter="$mdMenu.open()">
                        <strong class="col-pink">Add</strong>
                    </md-button>
                    <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                        <md-menu-item ng-repeat="x in application_menus">
                            <a ng-href="{{x.url}}">
                                <md-button>
                                    {{x.name}}
                                </md-button>
                            </a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-actions>
        </md-card>

    </div>


    
</div>